@charset "UTF-8";

main{
    height: 100vh;
    width: 100vw;

    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2px;

        img{
            flex-grow: 1;
            object-fit: contain;
            width: 100px;
        }
    }
} 